body {
  font-family: Arial, sans-serif;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero-image-home {
  background: url('../img/shop1.webp') no-repeat center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.hero-image-shop {
  background: url('../img/shop2.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}

.hero-image-shop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black overlay with 50% opacity */
  z-index: 1;
}

.hero-text-shop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Ensure text is above the overlay */
  color: white;
  /* Ensure text is readable */
}

.hero-text-shop h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-text-shop p {
  font-size: 1.5rem;
}

#categories,
#search {
  margin-bottom: 20px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 15px 0;
  text-align: center;
  width: 200px;
  background-color: #f9f9f9;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Warenkorb */
#cart-count {
  font-weight: bold;
  font-size: 0.6rem;
  vertical-align: top; /* Optional: Justiert die Position */
}

button.add-to-cart {
  width: 100%;
  margin-top: 10px;
}