body {
    font-family: Arial, sans-serif;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }

.hero-image {
    background: url('../img/shop.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
  }